<head>
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script data-require="angularjs@1.5.8" data-semver="1.5.8" src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">
    <div class="container">
        <h1>Things to do</h1>
        <ul class="list-unstyled">
            <li ng-repeat="todo in todos | filter:statusFilter">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="todo.completed">
                    </span>
                    <input type="text" class="form-control" ng-model="todo.title">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="remove(todo)"> Delete </button>
                    </span>
                </div>
                <date> {{ todo.createdAt | date:'yyyy-MM-dd'}}</date>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="statusFilter={completed:true}">Completed</button>
        <button class="btn btn-primary" ng-click="statusFilter={completed:false}">Active</button>
        <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
    </div>

  </body>

</html>
